g* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
   font-family: 'Railway', sans-serif;
}

/* BASE */
body {
   font-family: 'Railway', sans-serif;
   font-size: 1.05em;
   line-height: 1.55em;
   color: #333333;
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }

h1,h2,h3,h4,h5,h6 {
   font-weight: normal;
   text-rendering: optimizelegibility;
   line-height: 1.4em;
}

a {
   cursor: hand;
   text-decoration: none;
   color: rgb(61, 146, 201);
}

a:link, a:visited {
   color: #0084B4;
   text-decoration: none;
}

a:hover, a:focus {
   text-decoration: none;
}

/* PROFILE CSS */
.profile-pic {
   height: 115px;
   width: 115px;
   border: 0;
   border-radius: 10px;
}

.profile-title {
   font-size: 2em;
   margin: 0;
}

/* HOME CSS */
a.home-title-link:link, a.home-title-link:visited {
   color: #333;
}

a.home-title-link:hover {
   color: #0084B4;
   text-decoration: none;
}

h1.home-title, h2.home-title, h3.home-title, h4.home-title, h1.post-title-link {
   margin-bottom: 0.2em;
}

.home-date, .post-date {
   color: #888;
   font-size: 85%;
}

.home-image {
   margin: 0.7em 0 1.6em 0;
   overflow: hidden;
   position: relative;
   border: 1px;
   height: 240px;
}

.home-image img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.home-snippet {
   margin-bottom: 1.2em;
}

/* POST CSS */
.post-title { }

/* ARCHIVE CSS */
h1.archive-year {
   text-align: center;
}

/* LAYOUT */
#wrapper {
   margin: 0 auto;
}

#sidebar {
   text-align: center;
   top: auto;
   margin-top: 2em;
}

#content {
   margin: 0.8em;
}

#footer {
   margin-top: 2em;
   text-align: center;
}

#footer a {
   color: #999;
}

#footer .pure-menu a:hover, .pure-menu a:focus {
   background: none;
}

#footer .pure-menu-link {
   font-size: 0.9em;
   padding: 0.5em 0.5em;
}

/* COMPONENTS */
img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.separator {
   clear: both;
   text-align: center;
}

.pure-button { width: 7em; }

.menu-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.button-item {
   display: inline-block;
   font-size: 85%;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.button-item a {
   background: transparent;
   border: 2px solid rgb(176, 202, 219);
   letter-spacing: 0.05em;
   text-transform: uppercase;
}

.button-item a:hover, .button-item a:focus {
   border: 2px solid rgb(61, 146, 201);
   text-decoration: none;
}

.hr-post {
   border-top: 1px solid #dddddd;
}

blockquote {
   position: relative;
   font-size: 22px;
   font-style: italic;
   margin-top: 1em;
   padding-left: 0.2em;
}

blockquote:before {
    position: absolute;
    font-size: 3em;
    top: 0.25em;
    left: -0.5em;
    content: "\201C";
}

pre {
   font-family: courier;
   font-size: 13px;
}

/* RESPONSIVE -- RULES greater 48em */
@media (min-width: 48em) {
   #wrapper {
      max-width: 45em; /* wrapper = sidebar + content */
   }

   #sidebar {
      position: fixed;
      max-width: 9em; /* wrapper = sidebar + content */
      top: 0;
      bottom: 0;
   }

   #content {
      max-width: 36em; /* wrapper = sidebar + content */
      margin-left: 10em;
   }
}

/* RESPONSIVE -- RULES less than 48em */
@media (max-width: 48em) {
   #sidebar {
      max-width: 100%
      margin-top: 1.0em;
   }

   #content {
      max-width: 100%;
      margin-top: 0;
   }

   body { font-size: 0.98em;
   }
}

/* RESPONSIVE -- RULES less than 30em */
@media (max-width: 30em) {
   h1 { font-size: 1.4em; }
   h2 { font-size: 1.35em; }
   h3 { font-size: 1.2em; }

   .home-image { height: 160px; }

   .pure-button { width: 6em; }
}
