g* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
   font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */
#wrapper {
   max-width: 37em;
   margin: 0 auto;
}

#header h1 {
   font-family: 'Raleway';
   font-size: 3em;
   font-weight: 400;
   text-align: center;
   line-height: 1.4em;
   margin: 0em;
}

#header a { color: #333333; }

#subheader h2 {
   font-family: 'Raleway';
   font-size: 1.4em;
   font-weight: 200;
   text-align: center;
   line-height: 1.4em;
   margin: 0 0 0.2em 0;
}

#header_hr {
   border-bottom: 1px solid #eeeeee;
   margin-top: 1em;
}

#sidebar {
   text-align: center;
   top: auto;
   margin-top: 2em;
}

#content { margin: 1.0em; }

#footer {
   margin-top: 2em;
   text-align: center;
}

#footer a { color: #999999; }

#footer .pure-menu a:hover, .pure-menu a:focus {
   background: none;
}

#footer .pure-menu-link {
   font-size: 0.9em;
   padding: 0.5em 0.5em;
}

/* BASE CSS */
body {
   font-size: 1.1em;
   line-height: 1.55em;
   color: #333333;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

h1,h2,h3,h4,h5,h6 {
   font-weight: normal;
   text-rendering: optimizelegibility;
   line-height: 1.4em;
}

a {
   cursor: hand;
   text-decoration: none;
   color: rgb(61, 146, 201);
}

a:link, a:visited {
   color: #0084B4;
   text-decoration: none;
}

a:hover, a:focus {
   text-decoration: none;
}

/* HOME CSS */
a.home-title-link:link, a.home-title-link:visited {
   color: #333333;
}

a.home-title-link:hover {
   color: #0084B4;
   text-decoration: none;
}

h1.home-title, h1.post-title-link {
   margin-bottom: 0.2em;
}

.home-date, .post-date {
   color: #888;
   font-size: 85%;
}

.home-image {
   margin: 0.7em 0 1.6em 0;
   overflow: hidden;
   position: relative;
   border: 1px;
   height: 220px;
}

.home-image img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.home-snippet {
   margin-top: 0.6em;
   margin-bottom: 1.2em;
}

/* POST CSS */
.post-title { }

/* ARCHIVE CSS */
.archive-year { text-align: center; }

/* PHOTO CSS */
.pure-g.gutters { margin: 0 -0.2em; }

.pure-g.gutters > [class *=pure-u]{
  box-sizing: border-box;
  padding: 0em 0.2em;
}

.album { padding: 0.2em 0 0.2em 0; }

/* COMPONENTS */
img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.separator {
   clear: both;
   text-align: center;
}

.menu-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.button-list { text-align: center; }

.button-item {
   font-size: 90%;
   margin: 0 0.8em 0 0.8em;
}

a.button-item { color: #e87000; }

.hr-post { border-top: 1px solid #eeeeee; }

blockquote {
   position: relative;
   font-size: 22px;
   font-style: italic;
   margin-top: 1em;
   padding-left: 0.2em;
}

blockquote:before {
    position: absolute;
    font-size: 3em;
    top: 0.25em;
    left: -0.5em;
    content: "\201C";
}

pre {
   font-family: courier;
   font-size: 13px;
}

/* RESPONSIVE -- Rules GREATER 48em */
@media (min-width: 48em) {
}

/* RESPONSIVE -- Rules LESS 48em */
@media (max-width: 48em) {
   #content {
      max-width: 100%;
      margin-top: 0.5em;
   }

   body { font-size: 0.95em; }
}

/* RESPONSIVE -- Rules LESS 30em */
@media (max-width: 30em) {
   #header h1 {
      font-size: 2.8em;
   }

   #subheader h2 {
      font-size: 1.2em;
   }

   h1 { font-size: 1.4em; }
   h2 { font-size: 1.35em; }
   h3 { font-size: 1.2em; }

   .home-image { height: 160px; }
   .button-item { font-size: 100%; }
}
