body {
   /* font: 15px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
   font: 16px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
   color: #333;
   line-height: 1.5;
}


h1,h2,h3,h4,h5,h6 {
   display: inline;
}

a:link, a:visited {
   color: #0084B4;
   cursor: hand;
   text-decoration: none;
}

a:hover {
   color: #333;
   text-decoration: none;
}

#wrapper {
   width: 620px;
   margin-left: auto;
   margin-right: auto;
}

#header {
   height: 60px;
   margin-bottom: 5px;
}

blockquote {
   font-family: courier;
   border-left: 3px solid #ccc;
   padding-left: 10px;
   margin-left: 10px;
   margin-right: 0px;

   font-size: 13px;
}

pre {
   font-family: courier;
   font-size: 13px;
   padding: 10px;
}

#code {
   font-family: monospace;
   background-color: #333333;
   color: #ffffff;
   font-size: 13px;
   padding: 10px;
}

#social_buttons {
   margin-top: 5px;
}

.profile_pic {
   height: 60px;
   width: 60px;
   border: 0;
   margin-right: 10px;
   float: left;
}

.thumb_pic {
   height: 26px;
   width: 26px;
   border: 0;
   padding-right: 4px;
}

img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.home_post {
   margin-top: 4px;
}

.home_title {
   float: left;
}

a.home_title:link, a.home_title:visited {
   color: #333;
}

a.home_title:hover {
   color: #0084B4;
   text-decoration: none;
}

.home_date {
   float: right;
   color: #888;
   /* font-family: Consolas, Monaco, "Courier New", monospace; */
}

.post_title {
   float: clear;
}

.post_date {
   color: #888;
}

.twitter-share-button {
   margin-top: 8px;
}

#find_me {
   float: left;
   width: 460px;
}

#contact_me {
   float: right;
   width: 160px;
}

article {
   padding-bottom: 5px;
}

footer {
   border-top: 1px solid #ccc;
   padding-top: 20px;
}

img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
