a:link, a:visited, a:hover {
   color: #333;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
   display: inline;
}

#wrapper {
   width: 820px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3%;
   font: 15px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
   line-height: 1.5;
}

#leftcol {
   float: left;
   width: 186px;
   padding-right: 12px;

   font-size: 13px;
}

#rightcol {
   float: left;
   width: 610px;
   padding-left: 12px;
}

#nav {
}

#header {
}

#social {
   float: left;
   margin-top: 5px;
}

.thumb {
   height: 28px;
   width: 28px;
   padding-right: 4px;
}

.entry {
}

.home_title {
   float: left;
}

.home_date {
   float: right;
   color: #888;
   /* font-family: Consolas, Monaco, "Courier New", monospace; */
}

.post_title {
   float: clear;
}

.post_date {
   color: #888;
}

footer {
}
