body {
   /* font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
   font: 17px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; 
   color: #333;
   line-height: 1.5;
}


h1,h2,h3,h4,h5,h6 {
   display: inline;
}

a:link, a:visited {
   color: #0084B4;
   cursor: hand;
   text-decoration: none;
}

a:hover {
   color: #333;
   text-decoration: none;
}

a.home_title:link, a.home_title:visited {
   color: #333;
}

a.home_title:hover {
   color: #0084B4;
   text-decoration: none;
}

blockquote {
   font-family: courier;
   border-left: 3px solid #ccc;
   padding-left: 10px;
   margin-left: 15px;
   margin-right: 0px;

   font-size: 15px;
}

#wrapper {
   width: 650px;
   margin-left: auto;
   margin-right: auto;
}

nav {
   height: 60px;
   margin-bottom: 5px;
}

#social_buttons {
   margin-top: 5px;
}

.profile_pic {
   height: 60px;
   width: 60px;
   margin-right: 10px;
   float: left;
}
.thumb_pic {
   height: 26px;
   width: 26px;
   padding-right: 4px;
}

.home_post {
   margin-top: 4px;
}

.home_title {
   float: left;
}

.home_date {
   float: right;
   color: #888;
   /* font-family: Consolas, Monaco, "Courier New", monospace; */
}

.post_title {
   float: clear;
}

.post_date {
   color: #888;
}

.twitter-share-button {
   float: right;
}

#find_me {
   float: left;
   width: 490px;
}

#contact_me {
   float: right;
   width: 160px;
}

article {
   padding-bottom: 10px;
}

footer {
   border-top: 1px solid #ccc;
   padding-top: 25px;
}
