
@use '../base/variables' as v;

pre,
code {
  font-family: v.$code-font-family;
}

code {
  background-color: v.$bg-code-color;
  border-radius: 3px;
  color: v.$accent-color;
  font-size: 70%;
  padding: .25rem .5rem;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 70%;
  padding: 0;

  @media (width <= 400px) {
    font-size: 80%;
  }
}

// Code block highlighting
.highlight {
  background-color: v.$bg-code-color;
  border-radius: 3px; // Round the corners
  line-height: 1.4;
  margin: 0 0 1rem; // Bottom margin only
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;

  pre {
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  code {
    padding: 0;
  }
}
