# Jekyll
_site
_drafts
.jekyll-cache
.jekyll-metadata
.sass-cache

# Ruby
*.gem
.bundle
Gemfile.lock
.Gemfile.un~
vendor/

# Node
node_modules/

# OS
.DS_Store

# Secrets
_config_secrets.yml

# Tools
.claude
.git
