Header set Cache-Control "max-age=60, public"

# One minute: max-age=60
# One hour: max-age=3600
# One day: max-age=86400
# One week: max-age=604800
# One month: max-age=2628000
# One year: max-age=31536000

# One week for images
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>

# One week for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>