.catalogue {
  &-item {
    border-bottom: 1px solid $light-grey;
    color: $main_font_color;
    display: inline-block;
    padding: 1rem 0 0.2rem 0;

    &:hover .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $secondary_font_color;
    letter-spacing: .5px;
    font-size: 0.9rem;
  }

  &-title {
    font-family: $main_font;
    font-size: 1.5rem;
    font-weight: $title_font_weight;
    color: $main_font_color;
    display: block;
    margin: .5rem 0;

    @media (max-width: 400px) {
      font-size: 1.3rem;
    }
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid orangered;
    display: block;
    width: 2rem;
  }
}
