.pagination {
  font-family: $main_font_family;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 1.2rem;
  position: relative;
  text-align: center;

  a, span {
    color: $main_font_color;
    background-color: $bg_color;
    padding: 7px 14px;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;

    @media (max-width: 400px) {
      font-size: 1.2rem;
      padding: 7px 12px;
    }
  }

  a {
    &:hover {
      background-color: $bg_color;
      color: #333;
    }
  }

  .page_on {
    color: orangered;
  }

  .home {
    @include transition(all .3s ease-out);
    color: $main_font_color;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $main_font_color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
