// Colors for light mode
$light-grey-light: #e5e5e5;
$code-color-light: #bf616a;

// Default to light mode variables
$light-grey: $light-grey-light;
$code-color: $code-color-light;

// Background color
$bg_color: #212426;
$link_color: #4a9ae1;

// Font color
$main_font_color: #fff;
$secondary_font_color: #909498;
$nav_box_color: #909498;

// Font family
$main_font_family: "Inter", sans-serif;
$code_font_family: Menlo, Monaco, monospace;

// Font sizes
$title_font_weight: 400;

// Container Size
$container_width: 620px;
$container_width_perc: 90%;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}
