// Colors for light mode
$default-color-light: #555;
$default-shade-light: #353535;
$default-tint-light: #aaa;
$light-grey-light: #e5e5e5;
$dark-grey-light: #f9f9f9;
$white-light: #fff;
$blue-light: #4a9ae1;
$shadow-color-light: rgba(0, 0, 0, 0.2);
$code-color-light: #bf616a;

// Colors for dark mode
$default-color-dark: #ddd;
$default-shade-dark: #A5A6AF;
$default-tint-dark: #555;
$light-grey-dark: #444;
$dark-grey-dark: #222;
$white-dark: #000;
$blue-dark: #4a9ae1;
$shadow-color-dark: rgba(255, 255, 255, 0.2);
$code-color-dark: #bf616a;

// Default to light mode variables
$default-color: $default-color-light;
$default-shade: $default-shade-light;
$default-tint: $default-tint-light;
$light-grey: $light-grey-light;
$dark-grey: $dark-grey-light;
$white: $white-light;
$blue: $blue-light;
$shadow-color: $shadow-color-light;
$code-color: $code-color-light;

// Font color
$bg_color: #212426;
$main_font_color: #fff;
$secondary_font_color: #909498;
$nav_font_color:909498;

// Apply dark mode variables if user prefers dark mode
@media (prefers-color-scheme: dark) {
  $default-color: $default-color-dark;
  $default-shade: $default-shade-dark;
  $default-tint: $default-tint-dark;
  $light-grey: $light-grey-dark;
  $dark-grey: $dark-grey-dark;
  $white: $white-dark;
  $blue: $blue-dark;
  $shadow-color: $shadow-color-dark;
  $code-color: $code-color-dark;
}

// Font family
$main_font_family: "Inter", sans-serif;
$secondary_font_family: Palatino, "Palatino LT STD", "Palatino Linotype",
"Book Antiqua", "Georgia", serif;
$code_font_family: Menlo, Monaco, monospace;

// Font sizes
$title_font_weight: 400;

// Container Size
$container_width: 620px;
$container_width_perc: 90%;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}
