// Base styles
@use 'tale/base/variables' as *;
@use 'tale/base/base';

// Component styles
@use 'tale/components/code';
@use 'tale/components/syntax';
@use 'tale/components/post';
@use 'tale/components/layout';
@use 'tale/components/pagination';
@use 'tale/components/catalogue';
@use 'tale/components/search';