// Base styles
@import 'theme/base/variables';
@import 'theme/base/base';

// Component styles
@import 'theme/components/code';
@import 'theme/components/syntax';
@import 'theme/components/post';
@import 'theme/components/layout';
@import 'theme/components/pagination';
@import 'theme/components/catalogue';
@import 'theme/components/search';
