$light-grey: #e5e5e5;
$code-color: #bf616a;

// Page colors
$bg-color: #222426;
$bg-code-color: #1B1B1B;
$link-color: #909498;
$post-line-break-color: orangered;
$catalogue-line-break-color: orangered;
$pagination-current-color: orangered;

// Font color
$main-font-color: #E1E3E6;
$secondary-font-color: #909498;
$nav-box-color: #909498;

// Font family
$main-font-family: "Inter", sans-serif;
$code-font-family: menlo, monaco, monospace;

// Font sizes
$title-font-weight: 400;

// Container Size
$container-width: 620px;
$container-width-perc: 90%;

@mixin box-sizing($type: border-box) {
  box-sizing: $type;
}

@mixin transition($args...) {
  transition: $args;
}