
.catalogue {
  &-line {
    @include transition(all .3s ease-out);

    border-top: .2rem solid $highlight-color;
    display: block;
    margin-top: 1rem;
    width: 2rem;
  }

  &-item {
    border-bottom: 1px solid $light-grey;
    color: $main-font-color;
    display: inline-block;
    padding: 1rem 0 0.2rem;

    &:hover .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $secondary-font-color;
    letter-spacing: .5px;
    font-size: 0.9rem;
  }

  &-title {
    font-family: $main-font-family;
    font-size: 1.5rem;
    font-weight: $title-font-weight;
    color: $main-font-color;
    display: block;
    margin: .5rem 0;

    @media (width <=400px) {
      font-size: 1.3rem;
    }
  }
}