
.pagination {
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 1.2rem;
  position: relative;
  text-align: center;

  a, span {
    color: $main-font-color;
    background-color: $bg-color;
    padding: 7px 14px;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;

    @media (width <= 400px) {
      font-size: 1.2rem;
      padding: 7px 12px;
    }
  }

  a {
    &:hover {
      background-color: $bg-color;
      color: $secondary-font-color;
    }
  }

  .page-on {
    color: $pagination-current-color;
  }

  .home {
    @include transition(all .3s ease-out);

    color: $main-font-color;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);

    color: $main-font-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}