<!-- about template -->
{% extends "base.html" %}
{% set title = "About Alex Le" %}

{% block main %}

   <h1>Hello there, welcome to my blog.</h1>
   <div class="home_post">
      <p>
      I live in Colorado, write firmware for disc drives, and try to learn something new every day.
      I like to read, work out, and tinker with new technology and side projects.
      </p>

      <p>
      I have a serious weakness for potato chips, chocolate, and running shoes.
      </p>

      <p>
      <img class="pure-img center" src="/static/running_shoes.jpg" border="0px" />
      </p>

      <div id="contact_me">
         Contact me:
         <a href="mailto:alex.csm@gmail.com" class="home_title">alex.csm@gmail.com</a>
      </div>
   </div>
   
{% endblock %}


