{% extends "base.html" %}
{% set title = "Alex Le's Blog" %}

{% block main %}
   {% for year, year_list in entries|groupby('year')|reverse %}
      <h2>{{year}}</h2>
         {% for month, month_list in year_list|groupby('month')|reverse %}
            {% for day, day_list in month_list|groupby('day')|reverse %}
               {% for entry in day_list %}
                  <br clear="all">
                     <div class="home_title">
                        <a href="/blog/{{ entry.url }}" class="home_title">{{ entry.title }}</a>
                     </div>
                     <div class="home_date">
                        {{ entry.pretty_date }}
                     </div>
               {% endfor %}
            {% endfor %}
         {% endfor %}
      <br clear="all"><br>
   {% endfor %}
{% endblock %}
