<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Alex Le's Blog</title>

   <!-- stylesheets -->
   <link rel="stylesheet" href="/css/index.css" type="text/css">

   <!-- javascript -->
</head>

<body>
   <div id="wrapper">
      {% block body %}
         <div id="leftcol">
            {% block header %}{% endblock %}

            <a href="/"><img  src="/static/alex_vegas_headshot_seph_round.jpg" height="80px" width="80px" style="margin-right: 10px; float: left;"></a>

            Hi, I'm <a href="/">Alex Le</a>.<br> I live in Thornton, write firmware for disc drives, and try to learn something new every day.
            I like riding motorcycles, The Killers, working out, and a few other things.<br /><br />
            This is a place for my thoughts, goals, and interesting topics I come across.

            <br clear='all' /> <br />

            <b>SOCIAL PROFILE</b>
            <div id="social">
               <a href="http://www.facebook.com/alexle" target="_blank"><img src="/static/facebook_32.png" class="thumb" /></a>
               <a href="http://twitter.com/#!/alextrle" target="_blank"><img src="/static/twitter_32.png" class="thumb" /></a>
               <a href="http://www.linkedin.com/in/alexle" target="_blank"><img src="/static/linkedin_32.png" class="thumb" /></a>
               <a href="https://github.com/alexle" target="_blank"><img src="/static/github_32.png" class="thumb" /></a>
               <a href="https://profiles.google.com/alex.csm/about" target="_blank"><img src="/static/google_32.png" class="thumb" /></a>
            </div>

            <br clear='all' /> <br />
            
            <b>CONTACT ME</b>
            alex.csm@gmail.com
         </div> <!-- leftcol -->

         <div id="rightcol">
            {% block main %}{% endblock %}
         </div>
      {% endblock %}

      <div id="footer">
         {% block footer %}{% endblock %}
      </div>
   </div>
</body>
</html>
