<!DOCTYPE html>
<html amp lang="en">
<head>
   <meta charset="utf-8">
   <script async src="https://cdn.ampproject.org/v0.js"></script>
   <meta name="google-site-verification" content="UNRfpImcRQ3BIYIbiTDAv7O_9dJy-L3rcmWchHTi_Vc" />
   <meta name="msvalidate.01" content="8F7A5DB489A40721CBADB9FED30E8A1D" />
   <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
   <meta name="description" content="{{ meta }}" />
   <meta name="robots" content="index, follow" />
   <link rel="canonical" href="http://alexanderle.com/{{ url }}" />
   <title>{{ title }}Alex Le</title>

   <!-- AMP -->
   <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

   <!-- AMP Components -->
   <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
   <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>

   <!-- Pure -->
   <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
   <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

   <!-- Javascript and Stylesheets -->
   <script type="text/javascript" src="/css/prism.js"></script>
   <!--
   <link rel="stylesheet" type="text/css" href="/css/blog.css">
   -->
   <!--
   <link rel="stylesheet" type="text/css" href="/css/prism.css">
   -->
   <link rel="alternate" type="application/rss+xml" title="RSS" href="http://alexanderle.com/rss.xml">

   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet" type="text/css">

   <!-- AMP Custom CSS -->
   <style amp-custom>
   {{ blog_info.css_raw }}
   </style>
</head>

<body>

<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
   "vars": {
      "account": "UA-28947728-1"
   },
   "triggers": {
      "trackPageview": {
         "on": "visible",
         "request": "pageview"
      },
      "trackEvent": {
         "selector": "#event-test",
         "on": "click",
         "request": "event",
         "vars": {
            "eventCategory": "ui-components",
            "eventAction": "click"
         }
      }
   }
}
</script>
</amp-analytics>

<div id="wrapper" class="pure-g">
   <!-- CONTENT -->
   <div id="content" class="pure-u-1-1">
      <!-- HEADER -->
      <div id="header">
         <h1><a href="/">Alex Le</a></h1>
      </div>
      <div id="subheader">
         <h2>Firmware Engineer, Minimalist, Improving Runner</h2>
      </div>
      <ul class="button-list pure-menu-list">
         <a class="button-item" href="/about.html">About</a>
         <a class="button-item" href="/blog/archives.html">Blog</a>
         <a class="button-item" href="/photos.html">Photos</a>
      </ul>
      <div id="hr-header"></div>

      <!-- BODY -->
      <article>
         {% block main %}{% endblock %}
      </article>

      <!-- FOOTER -->
      <div id="footer">
         <hr class="hr-post">
         <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
               <li class="pure-menu-item"><a href="https://twitter.com/alextrle" title="Twitter" target="_blank" class="pure-menu-link">Twitter</a></li>
               <li class="pure-menu-item"><a href="https://www.linkedin.com/in/alexle" title="LinkedIn" target="_blank" class="pure-menu-link">LinkedIn</a></li>
               <li class="pure-menu-item"><a href="https://github.com/alexle" title="Github" target="_blank" class="pure-menu-link">GitHub</a></li>
               <li class="pure-menu-item"><a href="http://www.strava.com/athletes/alexle" title="Strava" target="_blank" class="pure-menu-link">Strava</a></li>
               <li class="pure-menu-item"><a href="/rss.xml" title="RSS" target="_blank" class="pure-menu-link">RSS</a></li>
               <li class="pure-menu-item"><a rel="author" href="https://plus.google.com/u/0/101315815319989778966?rel=author" title="Google+" target="_blank"></a></li>
            </ul>
         </div> <!-- end pure-menu -->
         <div class='copyright'>Copyright &copy; {{ blog_info.cp_year }} Alex Le</div>
      </div> <!-- end FOOTER -->

   </div> <!-- end CONTENT -->

</div> <!-- end WRAPPER -->

</body>
</html>
