<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="google-site-verification" content="UNRfpImcRQ3BIYIbiTDAv7O_9dJy-L3rcmWchHTi_Vc" />
   <meta name=viewport content=width=device-width, initial-scale=1.0 />
   <meta name="description" content="Alex Le's Blog on software, minimalism, running, and other random thoughts.">
   <title>{{ title }}</title>

   <!-- Google Analytics -->
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28947728-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
      
   <!-- Pure -->
   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
   
   <!-- Javascript and Stylesheets -->
   <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
   <link rel="stylesheet" type="text/css" href="/css/layouts/blog.css">
   <link rel="alternate" type="application/rss+xml" title="RSS" href="http://alexanderle.com/feed.xml">

   <!-- Fonts -->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="wrapper">
<div id="layout" class="pure-g">
   <div class="sidebar pure-u-1 pure-u-md-1-5">
      <div class="header">
         <a href="/"><img src="/static/alex_le_profile.jpg" alt="alex le" class="profile-pic"></a>
         <h1 class="brand-title">Alex Le</h1>

         <nav class="nav">
            <ul class="nav-list">
               <li class="nav-item">
                  <a class="pure-button" href="/about.html">ABOUT</a>
               </li>
               <li class="nav-item">
                  <a class="pure-button" href="/blog/archives.html">BLOG</a>
               </li>
            </ul>
         </nav>
      </div> <!-- end header -->
   </div> <!-- end sidebar -->

   <div class="content pure-u-1 pure-u-md-4-5">
      <!-- A wrapper for content -->
      <article>
         {% block main %}{% endblock %}
      </article>

      <div class="footer">
         <div class="pure-menu pure-menu-horizontal">
            <ul>
               <li class="pure-menu-item"><a href="https://twitter.com/alextrle" title="Twitter" target="_blank" class="pure-menu-link">Twitter</a></li>
               <li class="pure-menu-item"><a href="http://www.linkedin.com/in/alexle" title="LinkedIn" target="_blank" class="pure-menu-link">LinkedIn</a></li>
               <li class="pure-menu-item"><a href="https://github.com/alexle" title="Github" target="_blank" class="pure-menu-link">GitHub</a></li>
               <li class="pure-menu-item"><a href="/feed.xml" title="RSS" target="_blank" class="pure-menu-link">RSS</a></li>
               <li class="pure-menu-item"><a rel="author" href="https://plus.google.com/u/0/101315815319989778966?rel=author" title="Google+" target="_blank"></a></li>
            </ul>
         </div>
      </div> <!-- end footer -->

   </div> <!-- end content -->

</div><!-- end layout -->
</div><!-- end wrapper -->

</body>
</html>
