<!-- home template -->
{% extends "base.html" %}
{% set title = "Home" %}

{% block main %}
   {% for entry in entries %}
   <div class="home-post">
      <div class="home-title">
         <h3 class="home-title"><a href="blog/{{ entry.url }}" class="home-title-link">{{ entry.title }}</a></h3>
      </div>
      <div class="home-date">
         {{ entry.pretty_date }}
      </div>
      <div class="home-image">
         <a href="blog/{{ entry.url }}"><img class="pure-img center" src="{{ entry.img }}" border="1px" /></a>
      </div>
      <hr class="hr-post">
   </div>
   {% endfor %}

   <br><a href="/blog/archives.html">View Blog Archive &rarr;</a>

{% endblock %}
