<!-- home template -->
{% extends "base.html" %}
{% set title = "Alex Le" %}

{% block main %}
   {% for entry in entries %}
   <div class="home-post">
      <div class="home-title">
         <h2 class="home-title"><a href="blog/{{ entry.url }}" class="home-title-link">{{ entry.title }}</a></h2>
      </div>
      <div class="home-date">
         {{ entry.pretty_date }}
      </div>
      <hr class="hr-post">
   </div>
   {% endfor %}

   <br><a href="/blog/archives.html">View Blog Archive &rarr;</a>
   
{% endblock %}

