{% extends "base.html" %}
{% set title = "Photos | " %}
{% set meta = "Alex Le Photos" %}

{% block main %}

<h1 class="photo-title">Photos</h1>

<p>
   Growing up, I was pretty camera shy. Perhaps because I was introverted and awkward.
   Or because my family and friends always chose the most embarassing moments to capture.
</p>

<p>
   Now, when I look back on those photos, I'm grateful those little moments of time were
   frozen for me. Certain photos can bring on a flood of memories and emotions in ways
   words cannot describe.
</p>

<p>
   Some things are better explained through pictures. So, instead of adding more words to my
   <a href="/about.html">About</a> section, here is an extended view of myself
   and interests through some photos of people, moments, and accomplishments special to me.
</p>

<div class="pure-g gutters">
<div class="pure-u-1-2">
   <a href="/static/alex_le_siblings_beerfest.jpg">
      <img class="pure-img center album" src="/static/alex_le_siblings_beerfest.jpg" alt="alex le with siblings at collaboration beerfest" /></a>
   <a href="/static/alex_le_guys_night.jpg">
      <img class="pure-img center album" src="/static/alex_le_guys_night.jpg" alt="alex le guys night out" /></a>
   <a href="/static/alex_le_hideaway_trail_50k.jpg">
      <img class="pure-img center album" src="/static/alex_le_hideaway_trail_50k.jpg" alt="alex le with siblings hideaway trail run 50k" /></a>
   <a href="/static/alex_le_bean_reflection.jpg">
      <img class="pure-img center album" src="/static/alex_le_bean_reflection.jpg" alt="alex le in front of chicago bean" /></a>
   <a href="/static/alex_le_ragnar_road.jpg">
      <img class="pure-img center album" src="/static/alex_le_ragnar_road.jpg" alt="alex le ragnar relay road" /></a>
   <a href="/static/alex_le_climb_garden.jpg">
      <img class="pure-img center album" src="/static/alex_le_climb_garden.jpg" alt="alex le climb garden of the gods" /></a>
   <a href="/static/alex_le_pumpkin_pie_5k_eating.jpg">
      <img class="pure-img center album" src="/static/alex_le_pumpkin_pie_5k_eating.jpg" alt="alex le pumpkin pie 5k finish line photo" /></a>
   <a href="/static/alex_le_broncos_colts.jpg">
      <img class="pure-img center album" src="/static/alex_le_broncos_colts.jpg" alt="alex le broncos colts home opening game" /></a>
   <a href="/static/grays_victory.jpg">
      <img class="pure-img center album" src="/static/grays_victory.jpg" alt="alex le grays peak" /></a>
   <a href="/static/alex_le_pearl_street_mile_daniel_joder_crop.jpg">
      <img class="pure-img center album" src="/static/alex_le_pearl_street_mile_daniel_joder_crop.jpg" alt="alex le pearl street mile by daniel joder" /></a>
   <a href="/static/alex_le_pumpkin_pie_5k_finish.jpg">
      <img class="pure-img center album" src="/static/alex_le_pumpkin_pie_5k_finish.jpg" alt="alex le pumpkin pie 5k finish line photo" /></a>
</div>

<div class="pure-u-1-2">
   <a href="/static/chicago-alex-own.jpg">
      <img class="pure-img center album" src="/static/chicago-alex-own.jpg" alt="alex le #ownchicago" /></a>
   <a href="/static/pearl_street_mile_alex_le.jpg">
      <img class="pure-img center album" src="/static/pearl_street_mile_alex_le.jpg" alt="alex le pearl street mile" /></a>
   <a href="/static/alex_le_white_wave_ride.jpg">
      <img class="pure-img center album" src="/static/alex_le_white_wave_ride.jpg" alt="alex le white wave charity milk bike ride" /></a>
   <a href="/static/alex_le_family_cali.jpg">
      <img class="pure-img center album" src="/static/alex_le_family_cali.jpg" alt="alex le family california" /></a>
   <a href="/static/alex_le_vietnamese_camp.jpg">
      <img class="pure-img center album" src="/static/alex_le_vietnamese_camp.jpg" alt="alex le vietnamese heritage camp" /></a>
   <a href="/static/alex_le_carboy.jpg">
      <img class="pure-img center album" src="/static/alex_le_carboy.jpg" alt="alex le beer carboy" /></a>
   <a href="/static/alex_le_conundrum_escape_room.jpg">
      <img class="pure-img center album" src="/static/alex_le_conundrum_escape_room.jpg" alt="alex le conundrum escape room" /></a>
   <a href="/static/alex_le_eerie_erie_2016.jpg">
      <img class="pure-img center album" src="/static/alex_le_eerie_erie_2016.jpg" alt="alex le eerie erie 2016 5k race" /></a>
   <a href="/static/alex_le_triplec_100k.jpg">
      <img class="pure-img center album" src="/static/alex_le_triplec_100k.jpg" alt="alex le triple c 100k bike ride" /></a>
   <a href="/static/alex_le_wed_rec_hockey.jpg">
      <img class="pure-img center album" src="/static/alex_le_wed_rec_hockey.jpg" alt="alex le wednesday rec league hockey champions" /></a>
   <a href="/static/alex_le_cbr600.jpg">
      <img class="pure-img center album" src="/static/alex_le_cbr600.jpg" alt="alex le cbr 600 f4i" /></a>
</div>

</div>

<br><a href="/">&larr; back to home page</a>

{% endblock %}
