{% extends "base.html" %}
{% set title = entry.title + " | " %}
{% set meta = entry.meta %}
{% set url = "blog/" + entry.url %}

{% block main %}
<div class="post">
   <div class="post-title">
      <h1 class="post-title-link">{{ entry.title }}</h1>
   </div>

   <div class="post-date">
      {{ entry.pretty_date }}
   </div>

   <p>
      {{ entry.content }}
   </p>

   <div class="post-footer-left">
      <amp-social-share type="twitter" width="2em" height="1.8em"></amp-social-share>
      <amp-social-share type="gplus" width="2em" height="1.8em"></amp-social-share>
      <amp-social-share type="linkedin" width="2em" height="1.8em"></amp-social-share>
      <amp-social-share type="facebook" width="2em" height="1.8em" data-param-app_id="822338341250063"></amp-social-share>
   </div>

   <div class="post-footer-right">
      <a href="/">&larr; back to home page</a>
   </div>

   <div class="separator"> </div>
</div>
{% endblock %}
