<!-- post template -->
{% extends "base.html" %}
{% set title = entry.title %}

{% block main %}
<div class="post">
   <div class="post-title">
      <h1 class="post-title-link">{{ entry.title }}</h1>
   </div>

   <div class="post-date">
      {{ entry.pretty_date }}
   </div>

   <p class="post-content">
      {{ entry.content }}
   </p>

   <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ entry.title }}" data-via="alextrle">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      &nbsp;&nbsp;
      <g:plusone size="medium"></g:plusone>
      <a rel="author" href="https://plus.google.com/u/0/101315815319989778966?rel=author" title="Google+" target="_blank"></a>
      <span style="float: right;"><a href="/">&larr; back to home page</a></span>
   </p>
</div>
{% endblock %}
