<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
   <title>Alex Le's Blog</title>
   <description>Alex Le's Blog</description>
   <link>http://www.alexanderle.com</link>
   <atom:link href="http://alexanderle.com/feed.xml" rel="self" type="application/rss+xml" />
   <language>en-us</language>
   {% for entry in entries %}
   <item>
   <title>{{ entry.title }}</title>
   <link>http://alexanderle.com/blog/{{ entry.url }}</link>
   <guid>http://alexanderle.com/blog/{{ entry.url }}</guid>
   <pubDate>{{ entry.rss_date }}</pubDate>
   </item>
   {% endfor %}
</channel>
</rss>
