<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <url>
    <loc>http://alexanderle.com/</loc>
    <image:image>
      <image:loc>http://alexanderle.com/static/alex_le_profile.jpg</loc>
    </image:image>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
  </url>

  <url>
    <loc>http://alexanderle.com/about.html</loc>
    <image:image>
      <image:loc>http://alexanderle.com/static/alex_100k_triple_c.jpg</loc>
    </image:image>
    <changefreq>monthly</changefreq>
    <priority>1</priority>
  </url>

  <url>
    <loc>http://alexanderle.com/blog/archives.html</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>

  {% for entry in entries %}
  <url>
    <loc>http://alexanderle.com/blog/{{ entry.url }}</loc>
    {% if entry.img %}
    <image:image>
      <image:loc>http://alexanderle.com/{{ entry.img }}</loc>
    </image:image>
    {% endif %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {% endfor %}

</urlset>
