
.home-card {
  padding-top: $content-padding-top;

  .profile-card {
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;
    padding: 1rem 1rem 0;
    margin-left: -1rem;
    margin-right: -1rem;

    @media (width <= 600px) {
      flex-wrap: wrap;
    }
  }

  .profile-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid $light-grey;
    flex-shrink: 0;
  }

  .profile-info { flex: 1; }

  .profile-bio {
    display: block;
    color: $secondary-font-color;
    line-height: 1.4;
    margin-bottom: 1rem;

    &:last-child { margin-bottom: 0; }
  }

  margin-bottom: $header-margin-bottom;

  .desktop-only { display: block; }
  .mobile-only { display: none; }

  @media (width <= 600px) {
    .desktop-only { display: none; }
    .mobile-only { display: block; }
  }
}

.feed {
  &-line {
    @include transition(all .3s ease-out);

    border-top: .2rem solid $highlight-color;
    display: block;
    width: 2rem;
  }

  &-item {
    border-bottom: 1px solid $highlight-color;
    color: $main-font-color;
    display: inline-block;
    padding: 1rem 0 0.2rem;

    &:hover .feed-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $secondary-font-color;
    letter-spacing: .5px;
    font-size: 0.9rem;
  }

  &-title {
    font-family: $main-font-family;
    font-size: 1.4rem;
    font-weight: $title-font-weight;
    color: $main-font-color;
    display: block;
    margin: 0 0 .3rem;

    @media (width <= 400px) {
      font-size: 1.3rem;
    }
  }
}