
main,
footer,
.nav-container {
  margin: 0 auto;
  max-width: $container-width;
  width: $container-width-perc;
}

@media (width >= 600px) {
  main, .nav-container {
    padding-top: 0.4em;
  }
}

.nav {
  box-shadow: 0 2px 2px -2px $nav-box-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    text-align: center;
  }

  a {
    color: $main-font-color;
    font-family: $main-font-family;
  }

  li {
    @include transition(all .2s ease-out);

    color: $main-font-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &.active {
      opacity: 1;

      a {
        color: $highlight-color;
      }
    }
  }
}

#footer-list {
  font-size: 1.6em;
  padding: 0 0 .8rem;
  margin: 0;
}

#footer-list li {
  display: inline-block;
  list-style-type: none;
  padding-left: 12px;
  padding-right: 12px;
}

#footer-list ul li a {
  color: $main-font-color;
  text-decoration: none;
}

@media (width >= 600px) {
  .nav {
    ul {
      text-align: right;
    }
  }
}

footer {
  font-family: $main-font-family;
  padding: 1.7rem 0 2rem;
  text-align: center;
  box-shadow: inset 0 2px 2px -2px $nav-box-color;
  overflow: auto;

  span {
    color: $main-font-color;
    font-size: 0.8rem;
  }

  .icon {
    color: $main-font-color;
  }
}