
.nav {
  box-shadow: 0 2px 2px -2px $nav-box-color;
  overflow: auto;

  &-container {
    margin: 0 auto 1rem;
    position: relative;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    text-align: center;
  }

  a {
    color: $main-font-color;
    font-family: $main-font-family;
  }

  li {
    @include transition(all .2s ease-out);

    color: $main-font-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &.active {
      opacity: 1;

      a {
        color: $highlight-color;
      }
    }
  }
}

@media (width >= 600px) {
  .nav {
    ul {
      text-align: right;
    }
  }
}
