
.post {
  padding: $content-padding-top 0;

  &-header {
    margin-bottom: $header-margin-bottom;
  }

  &-title {
    font-family: $main-font-family;
    font-size: 1.7em;
    font-weight: $title-font-weight;
    color: $main-font-color;
    margin: 0 0 1rem;

    @media (width <= 400px) {
      font-size: 1.6rem;
    }
  }

  &-info {
    color: $secondary-font-color;
    letter-spacing: 0.5px;
    margin: 0;

    span {
      font-style: italic;
    }
  }

  p.post-stats {
    color: $stats-color;
    text-align: left;
    margin: 0 0 3rem;
  }

  p {
    margin: 0 0 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img+em {
    color: $secondary-font-color;
    display: block;
    font-family: $main-font-family;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}