---
layout: default
---
<div class="home-card">
  <div class="profile-card">
    <img src="https://avatars.githubusercontent.com/u/164645?v=4" alt="alexle">
    <div class="profile-info">
      <span class="profile-bio">Alex Le is a Software Engineer in Denver, Colorado who enjoys running and spending time with family.</span>
      <span class="profile-bio desktop-only">This blog is a collection of notes, ideas, and learnings for my future-self and others.</span>
    </div>
  </div>
  <span class="profile-bio mobile-only">This blog is a collection of notes, ideas, and learnings for my future-self and others.</span>
</div>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <h2 class="catalogue-title">{{ post.title }}</h2>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>

        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>
