---
layout: default
---
<div class="home-card">
  <div class="profile-card">
    <img src="https://avatars.githubusercontent.com/u/164645?v=4" alt="alexle">
    <div class="profile-info">
      <span class="profile-bio">Alex Le is a Software Engineer in Denver, Colorado who enjoys running and spending time with family.</span>
      <span class="profile-bio desktop-only">This blog is a collection of notes, ideas, and learnings for my future-self and others.</span>
    </div>
  </div>
  <span class="profile-bio mobile-only">This blog is a collection of notes, ideas, and learnings for my future-self and others.</span>
  <div class="profile-links">
    {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
    {% if site.author.email %}<a href="mailto:{{ site.author.email }}"><i class="fas fa-envelope"></i></a>{% endif %}
    {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
    {% if site.author.linkedin %}<a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
    {% if site.feed_xml %}<a href="/{{ site.feed_xml }}" target="_blank"><i class="fas fa-rss"></i></a>{% endif %}
  </div>
</div>

<div class="feed">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="feed-item">
      <div>
        <h2 class="feed-title">{{ post.title }}</h2>
        <time datetime="{{ post.date }}" class="feed-time">{{ post.date | date: "%B %d, %Y" }}</time>

        <p>
          {{ post.content | markdownify | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>
