---
layout: default
---

<div class="post">
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign total_words = 0 %}
    {% for post in site.posts %}
    {% assign words = post.content | number_of_words %}
    {% assign total_words = total_words | plus: words %}
    {% endfor %}
    <p class="post-stats">
      {{ site.posts.size }} posts &bull;
      {{ total_words | divided_by: 1000 }},{{ total_words | modulo:1000 }} words &bull;
      <a href="/{{ site.feed_xml }}" target="_blank"><i class="fas fa-rss"></i></a>
    </p>

    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date:'%Y'" %}
    {% for year in postsByYear %}
    <h3>{{ year.name }}</h3>
    {% for post in year.items %}
    <div class="archive-item">
      <span class="archive-time">{{ post.date | date: "%b %d" }}</span>
      <a class="archive-title" href="{{ post.url }}">{{ post.title }}</a>
    </div>
    {% endfor %}
    {% endfor %}

    {{ content }}
  </div>
</div>

<div class="pagination">
  <a href="/" class="home">Home</a>
</div>