
footer {
  font-family: $main-font-family;
  padding: 1.7rem 0 2rem;
  text-align: center;
  box-shadow: inset 0 2px 2px -2px $muted-color;
  overflow: auto;

  span {
    color: $main-font-color;
    font-size: 0.8rem;
  }
}
