
.pagination {
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .2rem 0 1.2rem;
  position: relative;
  text-align: center;

  a, span {
    color: $main-font-color;
    background-color: $bg-color;
    padding: 7px 14px;
    margin: 0 -2px;
    display: inline-block;

    @media (width <= 400px) {
      font-size: 1.2rem;
      padding: 7px 12px;
    }
  }

  a {
    &:hover {
      color: $muted-color;
    }
  }

  .pagination-current {
    color: $accent-color;
  }

  .home {
    transition: all .3s ease-out;
    color: $main-font-color;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    transition: all .3s ease-out;
    color: $main-font-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}