
* {
  box-sizing: border-box;
  line-height: 1.7;
}

html,
body {
  color: $main-font-color;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $main-font-family;
  font-size: 16px;
  overflow-y: scroll;

  @media (width >= 600px) {
    font-size: 18px;
  }
}

body {
  text-size-adjust: 100%;
}

h1,
h2,
h3 {
  color: $main-font-color;
  font-family: $main-font-family;
  line-height: normal;
}

a {
  color: $accent-color;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $light-grey;
  color: $main-font-color;
  margin: 0 0 .8rem;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (width >= 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

hr {
  border: none;
  border-top: 1px solid $light-grey;
  margin: 0 0 1rem;
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 1.5rem;
}

th,
td {
  padding: .5rem .75rem;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid $light-grey;
}

th {
  font-weight: 600;
}

tbody tr:last-child td {
  border-bottom: none;
}