// Variables - exposed for @use

// Colors
$accent-color: #bf616a !default;
$muted-color: #909498 !default;
$light-grey: #444 !default;
$bg-color: #222426 !default;
$bg-code-color: #2d3033 !default;

// Font color
$main-font-color: #d0d3d8 !default;

// Font family
$main-font-family: "Inter", sans-serif !default;
$code-font-family: menlo, monaco, monospace !default;

// Font
$title-font-weight: 400 !default;
$title-line-height: 1.5 !default;

// Spacing
$content-padding: 2rem !default;
$header-margin-bottom: 2rem !default;

// Container Size
$container-width: 620px !default;
$container-width-perc: 90% !default;
