// Variables - exposed for @use

// Colors
$accent-color: #bf616a;
$muted-color: #909498;
$light-grey: #444;
$bg-color: #222426;
$bg-nav-color: #1c1d1f;
$bg-code-color: #2d3033;

// Font color
$main-font-color: #d0d3d8;

// Font family
$main-font-family: "Inter", sans-serif;
$code-font-family: menlo, monaco, monospace;

// Font
$title-font-weight: 400;
$title-line-height: 1.5;

// Spacing
$content-padding: 2rem;
$header-margin-bottom: 2rem;

// Container Size
$container-width: 680px;
$container-width-perc: 90%;
